body{

  margin:0;

  font-family:Arial;

  background:
  linear-gradient(
    135deg,
    #020617,
    #0f172a,
    #111827
  );

}

.container{

  width:100%;

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

}

.painel{

  width:500px;

  background:#1e293b;

  padding:35px;

  border-radius:20px;

  color:white;

  box-shadow:
  0 0 30px rgba(0,0,0,0.4);

}

.topo{

  display:flex;

  justify-content:space-between;

  align-items:center;

}

h1{

  color:#38bdf8;

  margin:0;

}

.status-online{

  background:#16a34a;

  padding:8px 15px;

  border-radius:20px;

  font-size:12px;

  font-weight:bold;

}

.modo-box{

  margin-top:25px;

}

label{

  display:block;

  margin-bottom:10px;

}

select{

  width:100%;

  padding:12px;

  border:none;

  border-radius:10px;

  background:#0f172a;

  color:white;

}

input{

  margin-top:25px;

  width:100%;

}

.preview-box{

  margin-top:20px;

}

.preview{

  width:100%;

  border-radius:15px;

}

button{

  width:100%;

  margin-top:25px;

  padding:15px;

  border:none;

  border-radius:12px;

  background:#38bdf8;

  color:#0f172a;

  font-size:17px;

  font-weight:bold;

  cursor:pointer;

}

.loading{

  margin-top:20px;

  text-align:center;

  color:#facc15;

}

.resultado{

  margin-top:25px;

  background:#0f172a;

  padding:18px;

  border-radius:12px;

  text-align:center;

  font-size:18px;

}